.page {
  min-height: var(--page-height);
  max-width: var(--max-page-width);

  padding: 0;
  padding-top: calc(var(--navbar-height) + 10px);
  background-color: var(--main-bg-color);

  background-image: linear-gradient(to bottom right, #fdfcfb, #e2d1c3);
}

@keyframes pulse-background {
  0% {
    background-color: #dddddd;
  }

  50% {
    background-color: #f8f8f8;
  }

  100% {
    background-color: #dddddd;
  }
}
