:root {
  --navbar-height: 3rem;
  --footer-height: 4rem;
  --page-height: 100dvh;
  --max-page-width: 1400px;

  /* FONTS */
  --heading-font: "Open Sans", sans-serif;
  --body-font: "Source Sans 3", sans-serif;

  --giant-font-size: 5rem;
  --huge-font-size: 3.5rem;
  --large-font-size: 1.5rem;
  --big-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* COLORS */
  --body-bg-color: #191714;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #000000;

  --accent-color-1: #d1d1d1;
  --accent-color-2: #d4ba9b;
  --accent-color-3: #b99e54;
  --accent-color-dark-1: #1f1f1f;
  --accent-color-dark-2: #3e3a31;

  --main-text-color: #000;
  --secondary-text-color: #fff;
  --accent-text-color-light-grey: #a1a1a1;
  --accent-text-color-2: #f5b70c;
  --accent-text-color-3: #fcedce;

  --call-to-action-bg-color: #f5e700;
  --call-to-action-text-color: #000;
}

@media screen and (max-width: 740px) {
  :root {
    --giant-font-size: 3.5rem;
    --huge-font-size: 2.5rem;
    --large-font-size: 1.25rem;
    --big-font-size: 1rem;
    --normal-font-size: 0.875rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}
