.link-button {
  padding: 10px;
  font-size: var(--normal-font-size);
  border-radius: 5px;
  color: var(--secondary-text-color);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: var(--secondary-bg-color);

  &:hover {
    cursor: pointer;
    background: var(--call-to-action-bg-color);
    color: var(--main-text-color);
  }
}
