nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-left: 25px;
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  max-width: var(--max-page-width);
  background-color: transparent;
  border-bottom: 2px solid transparent;

  &.sticky {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-color: rgba(0, 0, 0, 0.15);

    ul {
      background-color: var(--accent-color-dark-1);
    }

    a::after {
      background-color: var(--main-bg-color);
    }

    ul li a {
      color: var(--secondary-text-color);
      font-weight: 400;

      &.active {
        color: var(--accent-text-color-3);
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 25px;
    height: 100%;

    li {
      list-style: none;
      position: relative;

      a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 400;
        color: #676663;
        place-items: center;
        font-family: var(--body-font);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;

        &.active {
          color: var(--main-text-color);
          font-weight: 600;
        }

        &::after {
          content: "";
          height: 2px;
          width: 50%;
          background-color: var(--main-text-color);
          left: 25%;
          bottom: -2px;
          transition: all 0.35s ease;
          pointer-events: none;
          position: absolute;
          opacity: 0;
        }

        &:not(.active):hover::after {
          left: 0;
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}

#navbar-logo {
  color: var(--accent-color-dark-1);
  font-size: 2.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  transition: all 0.25s ease;

  &:hover {
    transform: scale(1.1);
  }
}

#mobile-toggle {
  display: none;

  .mobile-toggle-btn {
    color: var(--main-text-color);
    font-size: 24px;
  }

  :hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 740px) {
  nav {
    padding: 5px 15px;
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: var(--navbar-height);
      right: -280px;
      height: 100vh;
      width: 240px;
      background-color: var(--secondary-bg-color);
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 0 0 20px;
      transition: 0.35s;
      gap: 20px;

      &.active {
        right: 0;
      }

      li a {
        color: var(--secondary-text-color);
        font-weight: 400;
        &.active {
          color: var(--accent-text-color-3);
        }
      }
    }
  }

  #mobile-toggle {
    display: grid;
    place-items: center;
  }
}
